* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular),
       url(../fonts/OpenSans-Regular.woff),
       url(../fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold),
       url(../fonts/OpenSans-Bold.woff),
       url(../fonts/OpenSans-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

@media screen and (orientation: portrait) and (max-width: 640px) {
  .trend {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .trend_card {
    min-height: 250px;
    width: 100%;
    margin-bottom: 3px;
  }
}

@media screen and (orientation: landscape) and (max-width: 640px) {
 .trend_card {
    width: calc((100% - 4px)/2);
    min-height: 250px;
    margin: 0 4px 3px 0;
  }

  .trend_card:nth-child(2n) {
    margin-right: 0;
  }

  .trend {
    flex-wrap: wrap;
  }
}

@media (max-width: 640px) {
  .all {
    width: 100%;
  }

  .header {
    background-image: url(../images/banner-mobile.jpg);
    padding: 30px 15px 30px; 
    width: 100%;
    height: 100vh ;
    position: relative;
  }

  .menu {
    visibility: hidden;
  }

  .menu_burger {
    position: absolute;
    right: 18px;
    top: 35px;
  }

  .header_logo, .container_logo_menu { 
    width: 270px;
  }

  .container_logo_menu {
    margin-top: 27vh;
  }

  .header_title {
    font-size: 26px;
    line-height: 1.385;
    margin: 10px 40px 0;
    text-align: center;
    min-width: 275px;  
  }
  
  .trends {
    width: 100%;
    margin-top: 40px;
  }

  .trends_title_link {
    font-size: 16px;
  }

  .trend_content {
    padding: 33px 20px 30px;
    margin: 14px 14px;
   }

  .trend_paragraf {
    font-size: 16px;
  }
  
  .page {
    width: 100%;
    padding: 0 15px 0;
    margin-top:  50px;
    flex-direction: column;
    align-items: center;    
  }

  .main_cards {
    width: 100%;
  }

  .card { 
    display: flex;
    flex-direction: column; 
    width: 100%;
  }

  .card::after {
    content: "";
    background: rgb(238, 238, 238);
    opacity: 0.4; 
    display: block;
    margin: 13px auto 32px;
    width: 100%;
    height: 4px;
  }

  .card:last-child::after {
    content: "";
    display: none;
  }

  .card_preview, .card_img {
    width: 100%;
    margin-bottom: 3px;
  }

  .card_text {
    width: 100%;
  }

  .card_name {
    padding-top: 8px;
  }

  .card_inf {
    padding-top: 8px;
  }

  .card_link {
    font-size: 15px;
  }

  .card_content {
    padding-top: 15px;
    font-size: 14px;
    line-height: 1.4;
  }

  .sidebar {
    width: 100%;
    margin-top: 44px;
  }

  .news, .mailing, .tags, .topics {
   max-width: 100%;
   margin: 0 auto 44px;
  }

  .news_preview {
    width:25% 
  }
  
  .news_img {
    display: block;
    width: 100%;
  }

  .news_card {
    margin: 0 auto 19px;
  }

  .news_card_header {
    width: calc(100% - 20% - 20px);
  }

  .products {
    padding: 0 15px 0;
    width: 100%;
  } 

  .products_title_link {
    font-size: 16px;
  }

  .product {
    flex-direction: column;
  }

  .product_card {
    margin-bottom: 30px; 
  }

  .product_card:last-child {
    margin-bottom: 0;
  }
 
  .product_preview {
    width: calc(100% - 40px);
    margin-bottom: -30px;
  }

  .product_img {
    display: block;
    width: 100%;
  }

  .product_body {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    padding: 50px 20px 25px;
  }

  .product_link {
    font-size: 17px;
  }

  .product_descr {
    margin: 8px 0 0 ; 
  }

  .popap {
    width: 330px;   
    top: 30px;
    right: calc(50% - 165px);   
  }

  .form {
    padding: 30px 25px;      
  }

  .popap_title_link {
    font-size: 16px;     
  }

  ._footer {
    width: calc(100% - 30px);
    margin: 44px 15px 50px;
  } 

  .footer_list {
    margin: 0 auto 48px;
  }
}

@media screen and (orientation: portrait) and (min-width: 641px) and (max-width: 1199px) {
  .trend {
    flex-wrap: wrap;
  }

  .trend_card {
    width: calc((100% - 4px)/2);
    min-height: 250px;
    margin: 0 4px 3px 0;
  }

  .trend_card:nth-child(2n) {
    margin-right: 0;
  }

  .trend_content {
    padding: 35px 30px 30px;
    margin: 18px 14px;
  } 

  .trend_paragraf {
    font-size: 17px;
  }
}



@media screen and (orientation: landscape) and (min-width: 641px) and (max-width: 1199px) {
  .trend_card {
    width: calc((100% - 9px)/4);
    margin-right: 3px;
     min-height: 250px;
  }
  
  .trend_card:last-child {
   margin-right: 0; 
  }
 
}


@media screen and (orientation: landscape) and (min-width: 641px) and (max-width: 950px) {
  .trend_content {
    padding: 35px 13px 30px;
    margin: 18px 8px;
  }

  .trend_paragraf {
    font-size: 13.5px;
  }
}

@media screen and (orientation: landscape) and (min-width: 951px) and (max-width: 1199px) {
  .trend_content {
   padding: 35px 30px 30px;
   margin: 18px 14px;
  }

  .trend_paragraf {
    font-size: 17px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  .all {
    width: 100%;
  }
  
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
    width: 100%;
    min-height: 390px;
    padding: 0;
    position: relative;
    padding-bottom: 20px;
  }

  .menu_burger {
    position: absolute;
    right: 35px;
    top: 60px;
  }

 .header_logo {
    width: 158px;
    position: absolute;
    left: 35px;
    top: 50px;
  }
  
  .menu {
    visibility: hidden;
  }
  
  .header_title {
    font-size: 40px;
    line-height: 1.375;
    margin-top: 65px; 
    width: 630px;
    text-align: center;
  }

  .trends {
    width: 100%;
    margin-top: 50px;
   }
  
  .trends_title_link {
    font-size: 18px;
  }

  .page {
    width: 100%;
    padding: 0 35px 0;
    margin-top:  50px;
    justify-content: space-between;
  }

  .main_cards {
    width: calc(100% - 35px - 272px);
    margin-right: 35px;
  }

  .card { 
    display: flex;
    flex-direction: column;
    margin-bottom: 52px;
    width: 100%;
  }

  .card_preview, 
  .card_img {
   width: 100%;
  }

  .menu_card_list {
    margin-top: 10px;
  }

  .card_text {
    width: 100%;
  }

  .card_name {
    padding-top: 8px;
  }

  .card_inf {
    padding-top: 23px;
  }

  .card_link {
    font-size: 17px;
  }

  .card_content {
    padding-top: 30px;
    font-size: 15px;
    line-height: 1.2;
  }

  .sidebar {
    width: 272px;
  }

  .news_card {
    margin: 0 auto 14px;
  }

  .news, 
  .mailing, 
  .tags, 
  .topics {
    width: 100%;
    margin: 0 0 53px;
  }

  .products {
    margin-top: 50px;
    padding: 0 35px;
    width: 100%;
  } 

  .products_title_link {
    font-size: 18px;
  }

  .product {
    flex-wrap: wrap;
    margin-top: 5px;
  }

  .product_card {
    width: calc((100% - 25px)/2);
    margin-bottom: 30px;
    margin-right: 25px; 
  }

  .product_card:nth-child(2n) {
    margin-right: 0;
  } 

  .product_card:last-child {
    margin-bottom: 0;
  } 

  .product_preview {
    width: calc(100% - 40px);
    margin-bottom: -35px;
  }

  .product_img {
    display: block;
    width: 100%;
  }

  .product_body {
    width: 100%;
    padding: 50px 20px 25px;
  }

  .product_link {
    font-size: 17px;
  }

  .product_descr {
    margin: 15px 0 0 ; 
  }

  .popap {
    width: 390px;   
    top: 50px;
    left: calc(50% - 195px);   
  }

  .form {
    padding: 55px 30px;          
  }

  .popap_title_link {
    font-size: 18px;     
  }
 
  ._footer {
    width: calc(100% - 70px);
    margin: 50px 35px 40px;
  } 

  .footer_list {
    margin: 0 auto 73px;
  }
}

@media (min-width: 1200px) {
  .header {
    width: 100%;
    background-image: url(../images/banner-bg.jpg);
    padding-top: 28px; 
    padding-bottom: 124px;
  }

  .container_logo_menu {
    width: 1200px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .header_logo {
    width: 179px;
  }

  .menu_list {
    display: flex;
    list-style-type: none;
  }

  .menu_list_item:nth-child(n+2) {
    margin-left: 35px;  
  }

  .menu_link {
    text-decoration: none;
    font-size: 13px;
    font-family: OpenSans-Regular, Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }

  .menu_burger {
    visibility: hidden;
  }

  .header_title {
    font-size: 45px;
    line-height: 1.667;
    text-align: center;
    margin: 100px auto 0; 
    max-width: 680px;
    }
  
  .trends {
    width: 100%;
    margin-top: 64px;
  } 

 .trend {
    width: 100%;
  }

  .trend_card {
    width: calc((100% - 9px)/4);
    margin-right: 3px;
  }
  
  .trend_card:last-child {
   margin-right: 0; 
  } 

  .trends_title_link {
    font-size: 20px;
  }

  .trend_content {
    padding: 35px 30px;
    margin: 20px 15px;
  }

  .trend_paragraf {
    font-size: 20px;
  }

  .page {
    width: 1200px;
    padding: 0 15px 0;
    margin: 64px auto 0;
    justify-content: space-between;
  }

  .main_cards {
    width: 780px;
  }

  .card { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
  }

  .card_preview, 
  .card_img {
    width: 100%;
    margin-right: 30px;
  }

  .card_inf {
    padding-top: 25px;
  }

  .card_text {
    width:100%;
  }

  .card_link {
    font-size: 20px;
    line-height: 1.2;
  }

  .card_content {
    font-size: 15px;
    line-height: 1.4;
  }

  .sidebar {
    width: 272px;
  }

  .news_card {
    margin: 0 auto 19px;
  }

  .news, 
  .mailing, 
  .tags, 
  .topics {
    max-width: 380px;
    margin: 0 auto 53px;
  }

  .product {
    justify-content: space-between; 
  }
  
  .products {
    width: 1200px;
    margin: 64px auto 0;
    padding: 0 15px;
  } 
  
  .products_title_link {
    font-size: 20px;
  }

  .product_img {
    width: 300px;
    height:  203px;
    margin-bottom: -30px;
  }
  
  .product_body {
    width: 345px;
    padding: 50px 20px 25px;
  }

  .product_link {
    font-size: 20px;
  }

  .product_descr {
    margin: 15px 0 0 ; 
  }

  .popap {
    width: 400px;
    top: 50px;
    left: calc(50% - 200px);
  }

  .form {
    padding: 55px 30px;
  }

  .popap_title_link {
    font-size: 20px;
  }

  .select_hint {
    font-size: 13px;
    margin-top: 30px;
  }

  .select {
    height: 50px;
    padding: 0 15px;
    margin: 12px 0 0;
    font-size: 13px;
  }

  .radio_choice {
    margin-top: 35px;
  }

  .radio-hint { 
    font-size: 13px;
  }

  .radio_group {
    margin-top: 15px;
  }

  .radio-group-text {
    font-size: 13px;
  }

  .textarea {
    margin-top: 40px;
  }

  .textarea-hint {
    font-size: 13px;
    line-height: 1.2;
  }

  .field_textarea {
    min-height: 130px;
    max-height: 200px;
    margin-top: 10px;
    padding: 15px;
    font-size: 13px;
    line-height: 1.2;
  }

  .popap_button{
    height: 45px;
    font-size: 14px;
    margin-top: 25px;
  }

  ._footer {
    width: 1200px;
    margin: 64px auto 40px;
    padding: 0 15px;
  }

  .footer_list {
    margin: 0 auto 73px;
  }
}

.all {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header::after {
  content: "";
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  z-index: -1;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.container_logo_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_burger {
  display: inline-block;
  cursor: pointer;
}

.burger_bar {
  background-color: rgb(255, 255, 255) ;  
  border-radius: 10%;
  width: 25px;
  height: 4px;
  margin-bottom: 5px;
}

.header_title {
  text-transform: uppercase;
  font-family: OpenSans-Bold, Arial, sans-serif;
  color: rgb(255, 255, 255);
  margin-right: auto;
  margin-left: auto;
}

.trends {
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.trends_title_link {
  width: 100%;
  display: block;
  text-decoration: none;
  font-family: OpenSans-Bold, Arial, sans-serif;
  color: rgb(22, 21, 22);
  text-transform: uppercase;
  text-align: center;  
}

.trends_title_link::after {
  content: "";
  background: rgb(174, 158, 95);
  opacity: 0.4; 
  display: block;
  margin: 10px auto 24px;
  width: 65px;
  height: 3px;
}

.trend {
  display: flex;
  width: 100%;
}

.trend_card {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.trend_card::after {
  content: "";
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  z-index: -1;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.trend1 {
  background-image: url(../images/trend1.jpg);
}

.trend2 {
  background-image: url(../images/trend2.jpg);
}

.trend3 {
  background-image: url(../images/trend3.jpg);
}

.trend4 {
  background-image: url(../images/trend4.jpg);
}

.trend_content {
  width: 100%;
  border: 2px solid rgb(174, 158, 95);
}

.trend_paragraf {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: OpenSans-Bold, Arial, sans-serif;
  text-transform: uppercase;
  margin: 0px;
}

.trend_menu_link {
  text-decoration: none;
  font-size: 14px;
  font-family: OpenSans-Bold, Arial, sans-serif;
  color: rgb(174, 158, 95);
  text-transform: uppercase;
  margin-right: 20px;
}

.trend_menu_list{
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0px;
  line-height: 1;
}

.page {
  display: flex;
  align-self: center;
}

.card:last-child, 
.news_card:last-child {
  margin-bottom: 0;
}

.menu_card_link {
  text-decoration: none;
  font-size: 14px;
  font-family: OpenSans-Bold, Arial, sans-serif;
  color: rgb(174, 158, 95);
  text-transform: uppercase;
  padding: 0 20px 15px 0;
}

.menu_card_list{
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  line-height: 1.2;
}

.card_name {
  padding-top: 8px;
}

.card_link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: OpenSans-Bold, Arial, sans-serif;
  color: rgb(22, 21, 22);
  text-align: left;
}

.card_link:hover, 
.news_card_link:hover,  
.topic:hover {
  color: rgb(174, 158, 95);
}

.card_date {
  font-size: 12px;
  font-family: OpenSans-Regular, Arial, sans-serif;
  color: rgb(136, 136, 136);
}

.card_author {
  font-size: 12px;
  font-family: OpenSans-Bold, Arial, sans-serif;
  margin-left: 11px;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
}

.card_author+.second_word {
  font-size: 12px;
  font-family: OpenSans-Bold, Arial, sans-serif;
  text-transform: lowercase;
  color: rgb(0, 0, 0);
}

.card_content {
  font-family: OpenSans-Regular, Arial, sans-serif;
}

.paragraf {
  padding-bottom: 11px;
}

.news_title_link, 
.mailing_title_link, 
.tags_title_link, 
.topic_title_link {
  width: 100%;
  display: block;
  text-decoration: none;
  font-family: OpenSans-Bold, Arial, sans-serif;
  font-size: 14px;
  color: rgb(22, 21, 22);
  text-transform: uppercase;
  text-align: center;
}

.news_title_link::after, 
.mailing_title_link::after, 
.tags_title_link::after, 
.topic_title_link::after {
  content: "";
  background: rgb(174, 158, 95);
  opacity: 0.4; 
  display: block;
  margin: 10px auto 24px;
  width: 65px;
  height: 3px;
}

.news_card {
  width: 100%;
  display: flex;
}

.news_preview {
  margin-right: 19px;
  margin-top: 7px;
}
.news_img {
  display: block;
}

.news_card_date {
  font-size: 12px;
  font-family: OpenSans-Regular, Arial, sans-serif;
  color: rgb(136, 136, 136); 
}

.news_card_link {
  text-decoration: none;
  font-family: OpenSans-Bold, Arial, sans-serif;
  font-size: 14px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.2;
}

.search {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 55px auto;
}

.search_button {
  width: 48px;
  height: 48px; 
  background-color: rgb(174, 158, 95);
  border: none;
}

.search_button:hover, 
.mailing_button:hover {
  cursor: pointer;
  background-color: rgb(53, 53, 53);
}

.search_button:focus,  
.mailing_button:focus {
  outline: 2px solid rgb(174, 158, 95);
  outline-offset: 3px;
}

.search_field:focus, 
.mailing_field:focus {
  outline: 2px solid rgb(174, 158, 95);
}

.search_img {
  width: 18px;
  height: 18px;
 }

.search-group {
   width: 100%;
}

.search_field, 
.mailing_field {
  padding: 13px 10px 17px 10px;
  width: 100%;
  background-color: rgb(245, 247, 246);
  border: none;
  font-size: 13px;
  color: rgb(117, 117, 117);
  font-family: OpenSans-Regular, Arial, sans-serif;
}
 
.mailing_field {
  margin-bottom: 20px;
}

.mailing_button {
  background-color: rgb(174, 158, 95);
  width: 100%;
  padding: 17px 5px;
  font-size: 14px;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: OpenSans-Bold, Arial, sans-serif;
  border: none;
}

.tag {
  height: 34px;
  font-size: 12px;
  color: rgb(22, 21, 22);
  text-transform: uppercase;
  text-decoration: none;
  padding: 3px 13px;
  border: 3px solid rgb(237, 237, 237);
  font-family: OpenSans-Bold, Arial, sans-serif;
}

.tags_list_item { 
  margin: 5px 3px 12px 0;
}

.tags_list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.topic_list {
 list-style-type: none;
 width: 100%;
}

.topic_list_item{
  height: 31px;
  border-bottom: 2px solid rgb(237, 237, 237);
  margin-bottom: 16px;
}

.topic {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-family: OpenSans-Bold, Arial, sans-serif;
  text-transform:lowercase;
  text-decoration: none;  
} 

.topic_list_item::first-letter {
  text-transform: uppercase;
}

.upper_index {
  color: rgb(174, 158, 95);
  vertical-align: super;
  font-size: 10px;
  font-family: OpenSans-Bold, Arial, sans-serif;
}

.products {
  display: flex;
  flex-direction: column;
} 

.products_title_link {
  width: 100%;
  display: block;
  text-decoration: none;
  font-family: OpenSans-Bold, Arial, sans-serif;
  color: rgb(22, 21, 22);
  text-transform: uppercase;
  text-align: center;  
}

.products_title_link::after {
  content: "";
  background: rgb(174, 158, 95);
  opacity: 0.4; 
  display: block;
  margin: 10px auto 24px;
  width: 65px;
  height: 3px;
}

.product{
  display: flex;
}

.product_img {
  overflow: hidden;
}

.product_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_body {
  border: 2px solid rgb(174, 158, 95);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product_title {
  margin: 0px;
}

.product_link {
  text-decoration: none;
  font-family: OpenSans-Bold, Arial, sans-serif;
  color: rgb(22, 21, 22);
  text-transform: uppercase;
}

.product_descr {
  font-size: 15px;
  font-family: OpenSans-Regular, Arial, sans-serif;
 }

.content_link {
  text-decoration: none;
  font-size: 15px;
  font-family: OpenSans-Regular, Arial, sans-serif;
  color: rgb(174, 158, 95);
}

.product_footer{
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   margin-top: 25px;
}

.product_price {
  display: flex;
  flex-direction: column;
}

.product_price_old {
  font-size: 14px;
  font-family: OpenSans-Bold, Arial, sans-serif;
  color: rgb(15, 13, 14);
  text-decoration: line-through;
  text-transform: uppercase;
}

.product_price_new {
  font-size: 20px;
  font-family: OpenSans-Bold, Arial, sans-serif;
  color: rgb(15, 13, 14);
  text-transform: uppercase;
 }

.product_button {
  font-size: 14px;
  font-family: OpenSans-Bold, Arial, sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  border: none;
  background-color: rgb(181, 159, 91);
  width: 141px;
  height: 49px;
}


.footer_list {
  background-color: rgb(245, 247, 246);
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.footer_list_item {
  padding: 30px 14px; 
}

.footer_link {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.footer_link_twitter {
  background-image: url(../svg/004-twitter.svg);
}

.footer_link_pinterest {
   background-image: url(../svg/001-pinterest.svg);
}

.footer_link_facebook {
   background-image: url(../svg/002-facebook-logo.svg);
}

.footer_link_instagram {
  background-image: url(../svg/005-instagram.svg);
}

.footer_link_tumblr {
   background-image: url(../svg/003-tumblr.svg);
}

.copyright {
  display: flex;
  font-size: 12px;
  color: rgb(152, 152, 152);
  font-family: OpenSans-Bold, Arial, sans-serif;
  justify-content: center;
}

.copyright_link {
   text-decoration: none;
}

.container_popap{
  visibility: hidden;
  background: rgba(0, 0, 0, 0.6);;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.popap {
  display: flex;
  background-color: rgb(255, 255, 255);
  position: fixed;
  flex: none;
}

.popup_close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -23px;
  right: 0;
  background-image: url(../svg/form-x.svg);
  background-color: transparent;
  background-size: 20px;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  cursor: pointer;
}

.popap_title_link {
  width: 100%;
  display: block;
  text-decoration: none;
  font-family: OpenSans-Bold, Arial, sans-serif;
  color: rgb(22, 21, 22);
  text-transform: uppercase;
  text-align: center;  
}
.popap_title_link::after {
  content: "";
  background: rgb(174, 158, 95);
  opacity: 0.4; 
  display: block;
  margin: 10px auto 24px;
  width: 65px;
  height: 3px;
}

.select_hint {
  font-size: 13px;
  font-family: OpenSans-Regular, Arial, sans-serif;
  color: rgb(0, 0, 0);
  margin-top: 30px;
  text-align: left;
}

.select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 12px 0 0;
  border: none;
  background-color: rgb(245, 247, 246);
  font-size: 13px;
  font-family: OpenSans-Regular, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.541); 
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-size: 8px 18px;
  background-repeat: no-repeat;
  background-position: right 15px center;
}

.select:hover {
  border-bottom: 1px solid rgb(174, 158, 95);
}

.radio_choice {
  margin-top: 35px;
}
.radio-hint { 
  font-size: 13px;
  font-family: OpenSans-Regular, Arial, sans-serif;
  color: rgb(0, 0, 0);
  text-align: left;
}

.radio_group {
  margin-top: 15px;
}

.radio_ch {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px) 
}

.radio-group-text {
  font-size: 13px;
  text-transform: capitalize;
  font-family: OpenSans-Regular, Arial, sans-serif;
  color: rgb(0, 0, 0);
  text-align: left;  
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 10px; 
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
 }

.radio_ch:checked ~ .radio-group-text::before {
  background-image: url(../svg/form-circle.svg);
 }

.textarea {
  margin-top: 40px;
}

.textarea-hint {
  font-size: 13px;
  font-family: OpenSans-Regular, Arial, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
}

.field_textarea {
  width: 100%;
  min-height: 130px;
  max-height: 200px;
  background-color: rgb(245, 247, 246);
  border: none;
  margin-top: 10px;
  padding: 15px;
  font-size: 13px;
  font-family: OpenSans-Regular, Arial, sans-serif;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.541);
}

.field_textarea:hover{
 border-bottom: 1px solid rgb(174, 158, 95);
}

.popap_button{
  background-color: rgb(174, 158, 95);
  width: 100%;
  height: 45px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: OpenSans-Bold, Arial, sans-serif;
  border: none;
  margin-top: 25px;
}

.popap_button:hover {
  background-color: rgb(50, 50, 50);
  cursor: pointer;
}

.popap_button:focus {
  background-color: black;
}

.hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px; 
	width: 1px; 
}